<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Planner.PlannerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CalendarTest.PlannerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Planner.PlannerSettings>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="RequireAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoredGoogleAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalendarURL" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Planner.PlannerSettings>
        <CalendarTest.PlannerSettings>
            <setting name="SmtpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="RequireAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value/>
            </setting>
        </CalendarTest.PlannerSettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
